*,
*:before,
*:after {

    -webkit-box-sizing: inherit;

    -moz-box-sizing: inherit;

    box-sizing: inherit;

}
html {

    box-sizing: border-box;

    -moz-box-sizing: border-box;

    -webkit-box-sizing: border-box;

}
body {

    font-family: 'Lato', sans-serif;

    margin: 0;

    background: url('/img/tours.jpg') no-repeat center center fixed;

    background-size: cover;

    overflow: hidden;

    color: #0a0a0b;

}
ul,
nav {

    list-style: none;

    padding: 0;

}

a {

    color: #fff;
    
    text-decoration: none;

    opacity: 0.9;

}



a:hover {

    opacity: 1;

}



h1 {

    font-size: 3rem;

    font-weight: 300;

    color: #fff;

    margin: 0 0 1.5rem;

}



header {

    position: absolute;

    top: 0;

    left: 0;

    z-index: 10;

    width: 100%;

    display: flex;

    justify-content: space-between;

    align-items: center;

    color: #fff;

    padding: 10px 100px 0;

}



header nav ul {

    display: flex;

}



header nav li {

    margin: 0 15px;

}



header nav li:first-child {

    margin-left: 0;

}



header nav li:last-child {

    margin-right: 0;

}

.div-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;

    height: 700px;
    ;
    width: 100%;
    opacity: 0.8 rgb(222, 81, 81);

    /* overflow: hidden; */

}

#btn {
    padding: 10px 10px 10px;
    border-radius: 5px;
    font-weight: 500;
    background-color: orange;
}